@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rosario";
  src: url("../fonts/Rosario-Regular.woff2") format("woff2"), url("../fonts/Rosario-Regular.woff") format("woff"), url("../fonts/Rosario-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 43px;
  min-height: 56px;
}
@media (max-width: 890px) {
  .header {
    flex-direction: column;
    padding: 50px 20px 0 20px;
  }
}
@media (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }
}

.header-menu {
  max-width: 374px;
  min-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 890px) {
  .header-menu {
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .header-menu {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.header-menu__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
}
@media (max-width: 600px) {
  .header-menu__item {
    margin-bottom: 10px;
  }
}
.header-menu__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 600px) {
  .header-menu__item:not(:last-child) {
    margin-right: 0;
  }
}
.header-menu__item:hover {
  color: #09A66D;
}

@media (max-width: 1090px) {
  .header-logo {
    display: none;
  }
}

.header-buttons {
  max-width: 292px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .header-buttons {
    flex-direction: column;
  }
}
.header-buttons__item {
  margin-right: 20px;
  border: 1px solid transparent;
}
@media (max-width: 600px) {
  .header-buttons__item {
    margin-right: 0;
  }
}
.header-buttons__item:last-child {
  margin-right: 32px;
}
@media (max-width: 600px) {
  .header-buttons__item:last-child {
    margin-right: 0;
  }
}
.header-buttons__item:hover {
  border-color: #09A66D;
  border-radius: 50%;
}
.header-buttons__btn {
  min-width: 160px;
  height: 40px;
  color: #FFFFFF;
  background-color: #09A66D;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
}
@media (max-width: 600px) {
  .header-buttons__btn {
    min-width: 100px;
  }
}
.header-buttons__btn:hover {
  border-color: #222222;
  color: #222222;
}

.presentation {
  width: 100vw;
  background: rgba(9, 166, 109, 0.05);
}

.presentation-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  min-height: 850px;
  padding-top: 93px;
  padding-bottom: 50px;
  position: relative;
}
@media (max-width: 890px) {
  .presentation-wrapper {
    padding: 70px 20px;
  }
}

.presentation-heading {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
  min-height: 90px;
}
@media (max-width: 1280px) {
  .presentation-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #222222;
  }
}
@media (max-width: 1090px) {
  .presentation-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #222222;
    min-height: 65px;
  }
}
@media (max-width: 600px) {
  .presentation-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #222222;
    min-height: 52px;
  }
}

.presentation-description {
  max-width: 637px;
  min-height: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  text-align: center;
  margin: 0 auto 40px auto;
}

.presentation-order {
  max-width: 176px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .presentation-order {
    margin-bottom: 20px;
  }
}
.presentation-order__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}
.presentation-order__link {
  border: 2px solid transparent;
}
.presentation-order__link:hover {
  border-color: #222222;
  border-radius: 50%;
}

.presentation-stats {
  position: absolute;
  max-width: 250px;
  min-height: 408px;
  right: 100px;
  bottom: 50px;
}
@media (max-width: 600px) {
  .presentation-stats {
    position: relative;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

.stats-card {
  max-width: 250px;
  min-height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  padding: 17px 33px;
  background: #FFFFFF;
}
.stats-card:not(:last-child) {
  margin-bottom: 30px;
}
.stats-card__icon {
  margin-right: 24px;
}

.stats {
  width: 104px;
  text-align: center;
}
.stats__value {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 4px;
  display: inline-block;
}
.stats__thousands {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  display: inline-block;
}
.stats__index {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.presentation-first-bg {
  position: absolute;
  top: -37px;
  left: 1px;
  z-index: -3;
  max-width: 612px;
  min-height: 408px;
  object-fit: cover;
}
@media (max-width: 600px) {
  .presentation-first-bg {
    display: none;
  }
}

.presentation-second-bg {
  position: absolute;
  bottom: 33px;
  left: 120px;
  z-index: -3;
  max-width: 862px;
  min-height: 465px;
  object-fit: cover;
}
@media (max-width: 1090px) {
  .presentation-second-bg {
    max-width: 430px;
    min-height: 230px;
  }
}
@media (max-width: 890px) {
  .presentation-second-bg {
    max-width: 100%;
    left: 0;
  }
}
@media (max-width: 600px) {
  .presentation-second-bg {
    display: none;
  }
}

.service {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 140px;
  min-height: 1065px;
  position: relative;
}
@media (max-width: 890px) {
  .service {
    padding: 70px 20px;
    min-height: 950px;
  }
}

.service-heading {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  margin-bottom: 20px;
  min-height: 90px;
}
@media (max-width: 1280px) {
  .service-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #222222;
  }
}
@media (max-width: 1090px) {
  .service-heading {
    text-align: center;
  }
}
@media (max-width: 1090px) {
  .service-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #222222;
    min-height: 65px;
  }
}
@media (max-width: 600px) {
  .service-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #222222;
    min-height: 52px;
  }
}

.service-description {
  max-width: 637px;
  min-height: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 36px;
}
@media (max-width: 1280px) {
  .service-description {
    max-width: 600px;
  }
}
@media (max-width: 1090px) {
  .service-description {
    margin: 0 auto 36px auto;
  }
}

.service-benefits {
  max-width: 500px;
  min-height: 460px;
}
@media (max-width: 1090px) {
  .service-benefits {
    max-width: 100%;
  }
}

.service-card {
  max-width: 500px;
  min-height: 160px;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
}
@media (max-width: 1090px) {
  .service-card {
    justify-content: center;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .service-card {
    padding: 40px 10px;
  }
}
.service-card:nth-child(2) {
  background: #F3FBF8;
}
.service-card__icon {
  padding-right: 24px;
}

.service-text {
  min-height: 78px;
}
.service-text__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
  margin-bottom: 8px;
}
.service-text__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.service-arrow {
  position: absolute;
  left: 341px;
  bottom: 146px;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
}
@media (max-width: 1090px) {
  .service-arrow {
    left: 50%;
  }
}
@media (max-width: 600px) {
  .service-arrow {
    display: none;
  }
}
.service-arrow:hover {
  border-color: #09A66D;
  border-radius: 50%;
}

.service-first-bg {
  position: absolute;
  right: 100px;
  bottom: 146px;
  z-index: -2;
  max-width: 600px;
  min-height: 600px;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .service-first-bg {
    max-width: 450px;
    min-height: 450px;
    bottom: 25%;
  }
}
@media (max-width: 1090px) {
  .service-first-bg {
    display: none;
  }
}

.service-second-bg {
  position: absolute;
  top: -35px;
  right: 35px;
  z-index: -3;
}

.explore {
  width: 100vw;
  background: rgba(9, 166, 109, 0.05);
}

.explore-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 89px;
  min-height: 832px;
  position: relative;
}
@media (max-width: 1280px) {
  .explore-wrapper {
    min-height: 700px;
  }
}
@media (max-width: 890px) {
  .explore-wrapper {
    padding: 70px 20px;
  }
}

.explore-content {
  display: flex;
  justify-content: start;
  align-items: start;
}
@media (max-width: 1090px) {
  .explore-content {
    flex-direction: column;
    align-items: center;
  }
}

.explore-image {
  margin-right: 50px;
}
@media (max-width: 1090px) {
  .explore-image {
    margin-right: 0;
  }
}
.explore-image__item {
  max-width: 600px;
  min-height: 600px;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .explore-image__item {
    max-width: 450px;
    min-height: 450px;
  }
}
@media (max-width: 600px) {
  .explore-image__item {
    max-width: 100%;
  }
}

.explore-text {
  padding-top: 30px;
}
@media (max-width: 1090px) {
  .explore-text {
    padding-bottom: 30px;
  }
}
.explore-text__heading {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  margin-bottom: 20px;
  min-height: 180px;
}
@media (max-width: 1280px) {
  .explore-text__heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #222222;
  }
}
@media (max-width: 1090px) {
  .explore-text__heading {
    text-align: center;
    min-height: 80px;
    max-width: 100%;
  }
}
@media (max-width: 1090px) {
  .explore-text__heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #222222;
    min-height: 65px;
  }
}
@media (max-width: 600px) {
  .explore-text__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #222222;
    min-height: 52px;
  }
}
.explore-text__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 50px;
  min-height: 90px;
}

.explore-link {
  max-width: 179px;
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1090px) {
  .explore-link {
    margin: 0 auto;
  }
}
.explore-link__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #222222;
}
.explore-link__move {
  border: 2px solid transparent;
}
.explore-link__move:hover {
  border-color: #222222;
  border-radius: 50%;
}

.explore-bg {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-width: 413px;
  min-height: 397px;
  object-fit: cover;
}
@media (max-width: 890px) {
  .explore-bg {
    display: none;
  }
}

.reviews {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 137px;
  min-height: 637px;
  position: relative;
}
@media (max-width: 1280px) {
  .reviews {
    padding-top: 280px;
  }
}
@media (max-width: 1090px) {
  .reviews {
    padding-top: 100px;
  }
}
@media (max-width: 890px) {
  .reviews {
    padding: 70px 20px;
  }
}

.reviews-heading {
  max-width: 640px;
  min-height: 180px;
  font-family: "Rosario";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  margin-bottom: 30px;
  position: absolute;
  top: 96px;
  left: 100px;
}
@media (max-width: 1280px) {
  .reviews-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #222222;
  }
}
@media (max-width: 1090px) {
  .reviews-heading {
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #222222;
    min-height: 65px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .reviews-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #222222;
    min-height: 52px;
  }
}

.swiper {
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}
@media (max-width: 1090px) {
  .swiper-slide {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
  }
}

.slide-text {
  padding-bottom: 32px;
}

.slide-review {
  max-width: 586px;
  min-height: 180px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 40px;
}

.slide-people-name {
  min-height: 36px;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 56px;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #09A66D;
  color: #ffffff;
  position: absolute;
}

.swiper-button-prev {
  left: 427px;
  bottom: 15px;
}
@media (max-width: 1280px) {
  .swiper-button-prev {
    left: 200px;
  }
}
@media (max-width: 1090px) {
  .swiper-button-prev {
    left: 50%;
  }
}
@media (max-width: 600px) {
  .swiper-button-prev {
    position: relative;
    left: 0;
  }
}

.swiper-button-next {
  left: 510px;
  bottom: 15px;
}
@media (max-width: 1280px) {
  .swiper-button-next {
    left: 283px;
  }
}
@media (max-width: 1090px) {
  .swiper-button-next {
    left: 65%;
  }
}
@media (max-width: 600px) {
  .swiper-button-next {
    right: 0;
    left: auto;
  }
}

.slide-photo {
  max-width: 500px;
  min-height: 500px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .slide-photo {
    max-width: 350px;
    min-height: 350px;
  }
}
@media (max-width: 1090px) {
  .slide-photo {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .slide-photo {
    max-width: 100%;
    min-height: 50%;
  }
}

.reviews-list {
  background: #FFFFFF;
  box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
  border-radius: 12px;
  max-width: 220px;
  min-height: 80px;
  padding: 11px 35px 11px 21px;
  position: absolute;
  bottom: 15px;
  right: 380px;
  z-index: 5;
}
@media (max-width: 1090px) {
  .reviews-list {
    display: none;
  }
}
.reviews-list__grade {
  margin-bottom: 10px;
}

.mobile-apps {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  padding: 150px 200px 140px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1090px) {
  .mobile-apps {
    justify-content: center;
  }
}
@media (max-width: 890px) {
  .mobile-apps {
    padding: 70px 20px;
    min-height: 400px;
  }
}

.mobile-apps-photo {
  max-width: 265px;
  min-height: 496px;
  object-fit: cover;
  margin-right: 112px;
}
@media (max-width: 1090px) {
  .mobile-apps-photo {
    display: none;
  }
}

.mobile-apps-text {
  max-width: 662px;
  min-height: 426px;
}
@media (max-width: 1090px) {
  .mobile-apps-text {
    max-width: 100%;
  }
}

.mobile-tab {
  max-width: 170px;
  min-height: 40px;
  background: #F3FBF8;
  border-radius: 50px;
  padding: 11px 24px;
  margin-bottom: 16px;
}
@media (max-width: 1090px) {
  .mobile-tab {
    margin: 0 auto;
  }
}

.mobile-heading {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222;
  min-height: 180px;
  margin-bottom: 20px;
}
@media (max-width: 1280px) {
  .mobile-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #222222;
    min-height: 150px;
  }
}
@media (max-width: 1090px) {
  .mobile-heading {
    text-align: center;
  }
}
@media (max-width: 890px) {
  .mobile-heading {
    min-height: 70px;
  }
}
@media (max-width: 600px) {
  .mobile-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #222222;
    min-height: 52px;
  }
}

.mobile-description {
  max-width: 574px;
  min-height: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 50px;
}
@media (max-width: 1090px) {
  .mobile-description {
    margin: 0 auto 50px auto;
  }
}

.mobile-links {
  max-width: 232px;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1090px) {
  .mobile-links {
    margin: 0 auto;
  }
}
.mobile-links__item {
  border: 1px solid transparent;
}
.mobile-links__item:hover {
  border-color: #09A66D;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 67px;
  padding-bottom: 118px;
}
@media (max-width: 1280px) {
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 890px) {
  .footer {
    padding: 70px 20px;
  }
}

.footer-text {
  max-width: 345px;
  min-height: 250px;
  margin-right: 157px;
}
@media (max-width: 1280px) {
  .footer-text {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.footer-text__logo {
  margin-bottom: 30px;
}
.footer-text__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
}

.footer-menu {
  max-width: 739px;
  min-height: 189px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 890px) {
  .footer-menu {
    flex-direction: column;
    align-items: start;
  }
}

.footer-menu-item__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
  margin-bottom: 40px;
}
.footer-menu-item:not(:last-child) {
  margin-right: 143px;
}
@media (max-width: 890px) {
  .footer-menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.footer-menu-item-list__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #555555;
}
.footer-menu-item-list__link:not(:last-child) {
  margin-bottom: 25px;
}
.footer-menu-item-list__link:hover {
  color: #09A66D;
}

.footer-social-list {
  max-width: 172px;
  min-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list__link {
  width: 26px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.footer-social-list__link:hover {
  border-color: #09A66D;
}

body {
  font-family: "DM Sans";
  background: #FFFFFF;
  overflow-x: hidden;
}