@font-face {
    font-family: "DM Sans";
    src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rosario";
    src: url('../fonts/Rosario-Regular.woff2') format('woff2'),
    url('../fonts/Rosario-Regular.woff') format('woff'),
    url('../fonts/Rosario-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}